In [44]:
# keith galli youtube video follow along 
import pandas as pd
df= pd.read_csv('pokemon_data.csv.csv')
print(df.head(3)) #top of data and the number represents how many rows 
print(df.tail(3)) #bottom of the data the number represents how many rows are present 

df_xlsx= pd.read_excel('pokemon_data.xlsx')
print(df_xlsx.head(3))

df= pd.read_csv('pokemon_data.txt') # tabs that seperate the columns 
df= pd.read_csv('pokemon_data.txt', delimiter='\t') #has coloumns now delimiter is whatever is seperating the columns 
print(df.head(5))

#read headers:
print(df.columns)

# read each column:
print(df['Name'])
print(df['Name'][0:5])
print(df.Name)
print(df[['Name', 'Type 1', 'HP']])

#print each row:
print(df.head(4))
for index, row in df.iterrows():
    print(index,row)
    print(index,row['Name'])
print(df.iloc[4])# if you want just a specific row-- interger location  
df.loc[df['Type 1']== 'Fire'] #finding specific data in datat set thats not int based, textual info

#read a specific location 
print(df.iloc[2,1]) #row,position
df.describe()#sd and mean stats like that

#sort values 
df.sort_values('Name')
df.sort_values('Name', ascending= False) #sort the values aka descending 
df.sort_values(['Type 1', 'HP'], ascending= [1,0])
#add
df['Total']= df['HP']+ df['Attack']+ df['Defense']+ df['Sp.Atk']+ df['Sp.Def']+ df['Speed']
#drop
df= df.drop(columns= ['Total']) 
#total
df['Total']= df.iloc[:, 4:10].sum(axis=1)
cols= list(df.columns.values) 
df=df[cols[0:4]+[cols[-1]]+cols[4:12]]
df.head(5)
df.to_csv('modified.csv', index=False)
df.to_excel('modified.xlsx', index=False)
df.to_csv('modified.txt', index= False, sep='\t')

#filtering data 
df.loc[(df['Type 1']=='Grass') | (df['Type 2']== 'Poision')] #| is or & is and 
new_df=  df.loc[(df['Type 1']== 'Grass') & (df['Type 2'] == 'Poison') & (df['HP']> 70)]
new_df.to_csv('filtered.csv')

#reset index 
new_df = new_df.reset_index() #reset your index in your dataframe, saving the old index in a different column
new_df = new_df.reset_index(drop= True) # resets and gets rid of that column that holds your old data frame 
new_df.rest_index(drop= True, inplace= True)

#filtering data
df.loc[df['Name'].str.contains('Mega')] # for a specific 
import re
df.loc[~df['Name'].str.contains('Mega')] #not mega
df.loc[df['Type 1'].str.contains('Fire|Grass', regex= True)]
df.loc[df['Type 1'].str.contains('fire|grass', flags= re.I, regex= True)]
#names that start with pi and the next set of letters can be 
df.loc[df['Name'].str.contains('^pi[a-z]*', flags= re.I, regex= True)]

#conditional changes
df.loc[df['Type 1']== 'Fire','Type 1']= 'Flamer'
df.loc[df['Type 1']== 'Fire','Legendary']= True
df= pd.read_csv('modified.csv') #checkpoint with our data
df.lock[df['Total']>500, ['Generation', 'Legendary']]=['Test 1', 'Test 2'] # you can change more than one at once 

#Aggregate Statistics- Groupby 
df= pd.read_csv('modified.csv')
df.groupby(['Type 1']).mean() #stats 
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False) #sort it with the highest

#mean, sum, count   
df['count']= 1
df.groupby(['Type 1']).count()['count']
df.groupby(['Type 1','Type 2']).count()['count'] #two parameters at once so you can help compress your dataframe 

#working with large amounts of data 
for df in pd.read_csv('modified.csv', chunksize=5): # five rows passed in at a time
    print('CHUNK DF')
    print(df)
new_df= pd.DataFrame(columns=df.columns)# data fram that is empty but with the same column names
for df in pd.read_csv('modified.csv', chunksize=5):
    results= df.groupby(['Type 1']).count()

    new_df= pd.concat([new_df, results]) #take the new data frame as it goes through chunks and store it back to dataframe

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True